resolver 127.0.0.11;

server {
	listen 80;
	server_name munetic_proxy;

	location /admin {
    set $munetic_admin munetic_admin;
		proxy_pass http://$munetic_admin:4242;
	}

	location / {
    set $munetic_app munetic_app;
		proxy_pass http://$munetic_app:2424;
	}

	location /api {
    set $munetic_express munetic_express;
    proxy_pass http://$munetic_express:8080;
  }
}
